*{
    margin: 0;
    padding: 0;
}

header{
    padding: 5%;
    display: flex;
    justify-content: center;
}
.submenu li{
    display: none;
}
nav li{
    display: inline-block;
}
.menu ul li:hover{
    display: block;
}
.meIMG{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    clear: left;
}
main{
    padding: 10%;
    text-align: center;
}
footer{
    clear: both;
}

div{
    float: left;
    width: 300px;
    height: 200px;
    border: 2px solid;
}