body{
    font-size: 14px;
    line-height: 30px;
    width: 400px;
    height: 500px;
    font-weight: bold;
}
h1{
    background: sandybrown;
    font-size: 16px;
}
h2{
    font-size: 14px;
    margin: 0;
}
form button{
    display: inline-block;
}
form input,select{
    float: right;
    display: block;
}
form label label{
    float: left;
    font-size: 14px;
}
.labeldireita{
    float: right;
    text-align: left;

}
input{
    float: left;
}
form label input{
    float: right;
}