:root{
    --primary-color:#026AA7;
}
body {
    margin:0;
    background: #F2F2F2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    background: var(--primary-color);
    padding: 2em 1em 2em 1em;
    .primary_nav{
        color: white;
        text-decoration: none;
    }
    .container {
        display:flex;
        place-content: space-between;
    }
    .mobile-menu{
        cursor: pointer;
    }
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav{
    display: none;
    //as im working on Mobile first, nav is hidden.
    //possibly i wont finish Mobile as i want it to be, tho i will at the least try
    //if not, i will at least integrate both versions, and try to make it 'decent' at least
}
.contact a{
    text-decoration:none;
    color: white;
    font-weight: bold;
    background: navy;
    padding: .5em .3em;
    //something surely is wrong here, i dont know what

}
.person-in-computer{
    width:100%;
    height:30%;
    //WHY this dont work? im just confused
}
.left-section-hero{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    color: white;
    width: 90%; /* Set the width of the positioned div */
    font-weight:bold;
    //this i took from stackflow, trying to make the text appear IN the image
    //it doesnt work as it should for some reason i dont understand yet.
}
.left-section-contact{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 60%; /* Adjust this value to move the positioned div up and down */
    text-align: left;
    width: 90%;
}
.lower-section-logo{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 100%; /* Adjust this value to move the positioned div up and down */
    text-align: end;
    width: 90%;
}
.left-section-hero{
    text-align: center;
}
.hero{
    text-align:center;
    //doesn't make it go to the center, upsets me
}
label{
    display:block;
}
.send-message{
    font-weight: bold;
    background:var(--primary-color);
    padding: .5em .3em;
}
.shield{
    background: var(--primary-color);
    border-radius: 5em;
    padding: 1em;
}
.suport{
    background: rgb(41, 190, 41);
    border-radius: 5em;
    padding: 1em;
}
.notebook-and-mouse-cursor{
    background: rgb(240, 240, 27);
    border-radius: 5em;
    padding: 3em;
    //the first image background one works, the second is a bit bad, this is ugly as it could ever be
}
iframe{
    width: 100%;
    height: 300px;
    //Why doesn't this adjust the screen? its for the mobile version and it doesnt cut the image
    //I'm deeply confused rn.
}