h2{
    color:red;
    font-family: Lobster;
}
p{
    font-family:monospace;
    text-align: justify;
}
.small-img{
    width: 100px;
}
.thick-border{
    border-color: gold;
    border-style: solid;
    border-width: 1em;
    border-radius: 50%;
}
.silver-back{
    background-color: darkgoldenrod;
}
[type='checkbox']{
    margin: 1em 0em 1em 0em;
}