h1{
    text-align: center;
    color:rgba(247, 8, 8, 0.863);
    background-color: rgb(0, 0, 0);
}
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
h2{
    text-align: center;
    color:rgba(247, 8, 8, 0.863);
    background-color: rgb(243, 239, 239);
}

footer{
    text-align: center;
    color:rgba(247, 8, 8, 0.863);
    background-color: rgb(245, 240, 240);
    clear:both;
}
video{
    float: left;
    margin: 0 1.5%;
    width: 63%;
  }
  aside {
    float: right;
    margin: 0 1.5%;
    width: 30%;
  }
.Acessibility{
    font-weight: bold;
    color: #006400;
    background: rgba(0, 0, 0, 0.185);
}

.poem{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.Fragmentos{
    color:rgb(247, 6, 6);
}
.primary_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top:0;
}
.primary_nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}