body{
  background-color: #111;
  color:rgba(255, 252, 252, 0.863);
}
h1{
    text-align: center;
  }
  .primary_nav li{
    float: left;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  h2{
    text-align: center;
  }
  
  footer{
    text-align: center;
    clear:both;
  }
  .primary_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top:0;
  }
  .primary_nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }